<div class="container mt-2">
  <div class="row">
    <div class="col-md-9" *ngIf="currentArticle">
      <div class="card text-center">
        <div class="card-header">
          <b class="text-primary">Title: </b>
          {{currentArticle.title | uppercase}}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <b class="text-primary">Description:</b> {{currentArticle.description | titlecase}}</h5>
          <hr/>
          <p class="card-text">
            <b class="text-primary">Article Id:</b> {{currentArticle.blogId}}</p>

        </div>
        <div class="card-footer text-muted">
          <a [routerLink]="['/articleEdit',currentArticle.blogId]" class="btn btn-primary text-white">Edit</a>&nbsp;
          <a (click)="deleteArticle()" class="btn btn-danger text-white">Delete</a>
        </div>
      </div>
      <!--col-md-8-->

    </div>
    <div class="col-md-3">
      <ul class="liBg minHeight border border-light">
        <li *ngFor="let item of allArticle">{{item.title}}</li>
      </ul>

    </div>
    <!--col-md4-->

  </div>
</div>