/* You can add global styles to this file, and also import other style files */
.liBg{padding-left: 0px;}
.liBg li{margin-bottom:5px;display: block; font-weight: bold; list-style: none; background:#f1f1f1; padding:6px 10px; }
.active{background:#2d90be !important;}